#messagesContainer::-webkit-scrollbar {
  width: 4px;
}

#messagesContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#messagesContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

#messagesContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

